span, .ml2 {
  font-weight: 900;
  font-size: 1.5em;
}
.ml2 {
  color:#FFCC73;
}

.ml3 {
  background: -webkit-linear-gradient(180deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;   
}

span, .ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

span {
  padding-top: 10px;
}

@media (max-width: 375px) {
  span, .ml2 {
    font-weight: 900;
    font-size: 1em;
  }
}
