.nav-link {
    color:  white;

    &:hover {
        cursor: pointer;
        color: #FFCC73;
        border-bottom: 1px solid #FFCC73;
        width: fit-content;
        padding-bottom: 3px;
        transition: all 800ms;
    }
}