$gradient-color: -webkit-linear-gradient(180deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

.nav-link {
    color:  white;

    &:hover {
        cursor: pointer;
        background: -webkit-linear-gradient(180deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;   
        width: fit-content;
    }
}

.get-in-touch-wrapper {
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 1px;
    border-radius: 10px;
    
    

    .get-in-touch {
        padding: 0.5rem;
        background: #191D28;
        border-radius: 10px;
    }

    &:hover {
        cursor: pointer;
        background: linear-gradient(60deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    }
}