.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 38vh;
    width: 48vh;

    // @media (max-width: 400px) {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     width: 20vh;
    // }

}

.bi-arrow-bar-down {
    margin-top: 3vh;
    height: 5vh;
}
