.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 33vh;

    // @media (max-width: 400px) {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     width: 20vh;
    // }

}

.bi-arrow-bar-down {
    margin-top: 4vh;
    height: 6vh;
}
