.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 38vh;
    width: 48vh;
    // align-content: center;
    border-radius: 3%;
    // box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.bi-arrow-bar-down {
    margin-top: 3vh;
    height: 5vh;
}
