.project-wrapper {
    margin-top: 5rem;

    .project-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        .top-corner .bottom-corner {
            display: flex;
        }
        
        .top-corner {
            color: #FFCC73;
            margin-left: 30rem;
            justify-content: flex-start;
            margin-bottom: .3rem;
        }
        
        .bottom-corner {
            color: #FFCC73;
            position: absolute;
            right: 0;
            margin-right: 30rem;
            justify-content: flex-end;
            margin-top: .3rem;
        }
    }

    @media only screen and  (max-width: 400px) {
        .project-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    @media only screen and  (max-width: 763px) and (min-width: 401px) {
        .project-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}


