.footer {
    height: 100%;

    .profile {
        position: fixed;
        bottom: 40%;
        left: 2%;
        
        span {
            color:  whitesmoke;
            padding: 25px;
            display: flex;
            flex-direction: column;
            transform: rotate(270deg);
            font-weight: bold;
            font-size: x-large;
            justify-content: flex-start;
            width: fit-content;
        }

        span:hover {
            cursor: pointer;
            background: -webkit-linear-gradient(180deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;   
            text-decoration: underline;
            scale: 2;
            transition: all 800ms;
        }
    
    }
}
