.footer {
    height: 100%;
    width: 10%;


    .profile {
        position: fixed;
        bottom: 40%;
        margin-left: auto;
        
        span {
            color:  white;
            padding: 15px;
            display: flex;
            flex-direction: column;
            transform: rotate(270deg);
            font-weight: bold;
            font-size: large;
            justify-content: flex-start;
            width: fit-content;
        }

        span:hover {
            cursor: pointer;
            color: #FFCC73;
            text-decoration: underline;
            font-size: xx-large;
            transition: all 800ms;
        }
    
    }
}
