.logo {
    font-weight: bolder;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    color:  #FFCC73;

    .l1 {
        padding: 3px;
    }


    .l2 {
        margin-top: 10px;
        padding: 3px;
    }

    .l3 {
        margin-top: 20px;
        padding: 3px;
    }

    &:hover {
        cursor: pointer;
        color:#fff;
    }
}