.profile-img {
    box-shadow: rgba(255, 255, 255, 0.15) 0px 2px 8px;}

section {
   min-height: 100vh;
}

.footer-contract {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-email a {
    color:  #FFCC73;
    font-weight: 100px;
    font-size: medium;
}

