.content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    box-shadow: rgba(255, 255, 255, 0.15) 0px 2px 8px;}

section {
   min-height: 90vh;
   width: 80%;
}

#experiences {
    min-height: 80vh;
    height: 30vh;
}

.footer-contract {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
}

.contact-text a  {
    text-decoration: none;
    background: -webkit-linear-gradient(180deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;   
}


.contact-text > a:hover {
    
    cursor: pointer;
}

.contact-email a {
    color:  #FFCC73;
    font-weight: 100px;
    font-size: medium;
    text-decoration: none;
}

.top-corner .bottom-corner {
    display: flex;

}

.top-corner {
    background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;   
    margin-left: 4.5rem;
    justify-content: flex-start;
    margin-bottom: .3rem;
}

.bottom-corner {
    background: -webkit-linear-gradient(180deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;   
    position: absolute;
    right: 0;
    margin-right: 15rem;
    justify-content: flex-end;
    margin-top: .3rem;
}

@media only screen and  (max-width: 420px) {
    section {
        min-height: 60vh;
        width: 90%;
     }

     #experiences{
        min-height: 200vh;
        margin-top: 3vh;
    }

    #project {
        min-height: 100vh;
        margin-top: 100vh; 
    }

    .top-corner {
        margin-left: 3rem;
    }
    
    .bottom-corner {
        margin-right: 3rem;
    }

    .footer-contract {
        margin-top: 30%;
    }
}

@media only screen and  (max-width: 763px) and (min-width: 401px) {
    section {
        min-height: 60vh;
        width: 90%;
     }

     #experiences{
        min-height: 100vh;
        margin-top: 3vh;
    }

    #project {
        min-height: 100vh;
        margin-top: 150vh; 
    }

    .footer-contract {
        margin-top: 30%;
    }
}
