body {
  /* display: flex;
  justify-content: center; */
  background-color: #191D28;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
